/* padding is top right bot left */

body {
    margin: 0;
    font-family: "Verdana", sans-serif;
    color: #E0E0E0;
    height: 100%;
}

.navi {
    box-sizing: border-box;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: auto;
    padding-bottom: auto;
    background-color: #3A606E;
    height: 30px;
    width: 100%;
    position: fixed;
    top: 0px;
    line-height: 30px;
}

.tabs {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 30px;
    width: 100%;
    position: fixed;
    top: 30px;  
    background-color: #3A606E;
}

.tab {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    width: 50vw;
    height: 100%;
    display: inline-block;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.current {
    background-color: #828E82;
}

.channels {
    background-color: #607B7D;
}

.title {
    font-weight: 600;
}

.contentbox {
    padding: 0 15px 15px 15px;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
}

form, input, select, button, textarea {
    font-size: inherit;
}

a.nostyle, a.nostyle:link, a.nostyle:visited, a.nostyle:hover, a.nostyle:active {
    color: inherit;
    text-decoration: none;
}

.scroll_box {
    margin: 0;
    padding: 0;
    height: calc(100vh - 160px);
    overflow: scroll;
    background-color: inherit;
}

.user_name {
    float: right;
}

#channel_table th {
    text-align: left;
}

.input_head {
    height: 100px;
    box-sizing: border-box;

}

h4 {
    margin: 0px;
}
