{% extends "layout.html" %}

{% block script %}
{% endblock %}

{% block title %}
    OnceWord - Channels
{% endblock %}

{% block content %}
<div class="contentbox channels">
    <h3>New Channel</h3>
    <form action="{{ url_for('channel') }}" method="post">
        <input autocomplete="off" autofocus required id="channel_name" name="channel_name" type="text"><button type="submit">Go</button>
    </form>
    <br>
    <h3>Channels</h3>
        {% if channels|length %}
            <table>
                <thead>
                    <tr>
                        <th>Channel</th><th>Words</th>
                    </tr>
                </thead>
                <tbody>
                    {% for channel in channels %}
                        <tr>
                            <td><a class="nostyle" href="{{ url_for('chat', channel_name=channel.name) }}">{{ channel.name }}</a></td>
                            <td>{{ channel.word_count }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>   
        {% else %}
            No channels yet
        {% endif %}     

</div>
{% endblock %}
