{% extends "layout.html" %}

{% block script %}
{% endblock %}

{% block title %}
    OnceWord - Channels
{% endblock %}

{% block content %}
<div class="contentbox channels">
    <div class="input_head">
        <br><h4>New Channel</h4>
        <form action="{{ url_for('channel') }}" method="post">
            <input autocomplete="off" autofocus required id="channel_name" name="channel_name" type="text"><button type="submit">Go</button>
        </form>
    </div>
    <div class="scroll_box">
        <h4>Channels</h4>
        {% if channels|length %}
            <table id="channel_table">
                <thead>
                    <tr>
                        <th>Name</th><th>Words Used</th>
                    </tr>
                </thead>
                <tbody>
                    {% for channel in channels %}
                        <tr>
                            <td><a class="nostyle" href="{{ url_for('chat', channel_name=channel.name) }}">{{ channel.name }}</a></td>
                            <td>{{ channel.word_count }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>   
        {% else %}
            No channels yet
        {% endif %}     
    </div>

</div>
{% endblock %}
