{% extends "layout.html" %}

{% block script %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}">

</script>
{% endblock %}

{% block title %}
    OnceWord
{% endblock %}

{% block content %}
<div class="contentbox channels">
    <h3>Send Message</h3>
    <input autocomplete="off" autofocus id="msg_input" type="text">
    <br>
    <div id="chat"></div>
</div>
{% endblock %}
